body span, body a {
  margin: 0;
  padding: 0;
  white-space: normal; }

body {
  font-size: 1em; }
  body div {
    font-weight: bold;
    /*margin-left: pow(2, 3) * 1px;
		@include square(100px, $radius: 10px);*/ }
  body span {
    color: red; }
  body .table th {
    width: 5%;
    white-space: nowrap; }
  body .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body .table a {
    white-space: nowrap; }
